@import "normalize";
@import "bourbon/_bourbon.scss";

@import "../fonts/TheMixArab/styles.css";

@import "_variables.scss";

/*================================================
MAIN STYLES
================================================*/

body, html {
  font-family: 'TheMixArab';

  &, html {
    overflow: hidden;
  }
}

p {
  font-size: 12px;
  color: #2e3192;
}

.container {
  max-width: 737px;
  margin: 0 auto;
  @include box-sizing(border-box);
}

.title {
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  color: #1b1e88;
  margin: 0;
  padding: 30px 0;
}

.text-center {
  text-align: center;
}

.bg-gray {
  background-color: #ebebeb;
}

.line-title {
  position: relative;
  color: #b7b7b7;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  padding: 12px 0;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #cccccc;
  }

  span {
    position: relative;
    z-index: 5;
    display: inline-block;
    height: 100%;
    background-color: #ebebeb;
    min-width: 120px;
    padding: 0 15px;
  }
}

.btn {
  display: inline-block;
  color: #fff;
  border-radius: 6px;
  background-color: #1885cf;
  text-decoration: none;
  padding: 6px 15px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#47aaf0+0,0979c4+100 */
  background: #47aaf0; /* Old browsers */
  background: -moz-linear-gradient(top, #47aaf0 0%, #0979c4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #47aaf0 0%,#0979c4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #47aaf0 0%,#0979c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47aaf0', endColorstr='#0979c4',GradientType=0 ); /* IE6-9 */

  @include transition(all 0.3s ease);

  &:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0979c4+0,47aaf0+100 */
    background: #0979c4; /* Old browsers */
    background: -moz-linear-gradient(top, #0979c4 0%, #47aaf0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0979c4 0%,#47aaf0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0979c4 0%,#47aaf0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0979c4', endColorstr='#47aaf0',GradientType=0 ); /* IE6-9 */
  }
}


#page-wrap {
  @include size(auto 100%);
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
  padding: 0 15px;
}

header {
  position: relative;
  height: $header-height;
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
}

#hashtag {
  position: absolute;
  top: 50%;
  left: 0;
  @include transform(translate(0, -50%));
  font-size: 30px;
  color: #fff;
  //-webkit-text-stroke: 3px #007db5;
  text-shadow:
          4px 4px 0 #007db5,
          -2px -2px 0 #007db5,
          2px -2px 0 #007db5,
          -2px 2px 0 #007db5,
          2px 2px 0 #007db5;
}

#content {
  display: block;
  overflow: hidden;
  padding: 0 15px 15px;
  background-color: #fff;
  border-radius: 6px;
  height: calc(100vh - #{$header-height} - 40px);
}

/*================================================
IMAGE ITEMS
================================================*/
.items {
  height: calc(100% - 88px);

  ul {
    position: relative;
    list-style: none;
    margin: 0;
    font-size: 0;
    padding: 9px 20px;

    li {
      position: relative;
      width: 25%;
      display: inline-block;
      @include box-sizing(border-box);
      margin-bottom: 60px;
      z-index: 5;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        @include transform(translate(0, -50%));
        @include size(1px 67px);
        @include box-sizing(border-box);
        border-right: 1px solid #d6d6d6;
      }

      &:nth-child(4n+4)::after, &:last-child::after {
        display: none;
      }


    }
  }
}

.item-frame, .item-image {
  border: 1px solid #d6d6d6;
  @include box-sizing(border-box);
  overflow: hidden;
}

.item-frame {
  @include size(110px 90px);
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  cursor: pointer;

  box-shadow: 0px 13px 20px -20px rgba(0, 0, 0, 1);
  @include transform(rotate(0deg) scale(1));
  @include transition(all 0.4s $ease-out-back);

  &:hover {
    @include transform(rotate(-6deg) scale(1.1));
    box-shadow: -2px 15px 50px -20px rgba(0, 0, 0, 0.4);
  }
}

.item-image {
  text-align: center;
  @include size(100%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    @include size(100% auto);
  }
}

/*================================================
EDIT PAGE
================================================*/
.edit-page {
  .item-frame {
    display: inline-block;
  }

  p {
    margin: -20px 0 0 0;
  }

  .section {
    margin: 0 -15px;
    padding: 15px;
    border-radius: 6px;
    height: calc(100% - 230px);

    .line-title:first-of-type {
      margin-top: -15px;

      & + div {
        padding: 10px 0 25px;
      }
    }
  }
}

.mini-preview {
  overflow: visible;
  padding: 30px 0;
}

#mini-text .item-image {
  font-size: 8px;
}

#mini-result .item-image {
  canvas {
    @include size(100%);
  }
}

.symb {
  display: inline-block;
  position: relative;
  @include size(80px 90px);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

#input-text {
  background-color: #ffffff;
  max-width: 404px;
  min-height: 130px;
  padding: 10px;
  border-radius: 6px;
  outline: none !important;
}

/*================================================
SCROLLBAR FIXES
================================================*/
.mCSB_container_wrapper>.mCSB_container {
  padding: 0;
}
#page-wrap:not(.edit-page) .mCSB_container_wrapper {
  border: 1px solid #d6d6d6;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    @include size(100% 75px);
    @include background-image(linear-gradient(to top, rgba(#000000, 0.1) 0%, transparent 100%));
    z-index: 10;
  }
}
.mCSB_scrollTools {
  opacity: 1;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset.mCSB_scrollTools .mCSB_draggerRail {
  width: 8px;
  border-radius: 2px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #7d7d7d;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px;
  margin: 3px 7px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
  border-color: #e4e4e4;
}


/*================================================
PREVIEW IMAGE
================================================*/
#preview {
  //display: none;
  position: relative;
  @include size(800px auto);

  .pr-body {
    overflow: hidden;
    @include size(100% auto);
    position: relative;

    &::before {
      //content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

#pr-image {
  @include size(100% auto);
}

#pr-text {
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  top: 17%;
  left: 50%;
  //border: 1px solid #000;
  height: 66%;
  width: 42%;
  overflow: hidden;
  @include transform(rotate(0deg));
}